@charset "UTF-8";
html {
  font-size: 15px;
  color: #000000; 
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000; 
}

.banner-top{
    background: #cacaca;    
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 65px;
}


.logo{
   text-align: center; 
    align-content: center;
    align-items: center;
}
.logo img{
text-align: center; 
}
.buscame{     
   align-self: center;
}

.contenedor-bloque-buscar{
    display: flex;
    height: 2rem;
    margin: .5rem;       
}

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: .6rem;
}

.contenedor-bloque-buscar input[type="submit"] {
  flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #d40202;
  color: #fff; 
  padding: 0 .6rem; 
}


/*----------------------------
SECCION TU MEJOR ELECCI├ôN
----------------------------*/
.tu-mejor-eleccion{
    top: 20%;  
    position: absolute;
    text-align: center;
}
.tu-mejor-eleccion .titulo{
    width: 100%;
    text-align: center;
}

.tu-mejor-eleccion h2 span {
  color: #12AFAF; 
}

.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
  list-style: none; }

.tu-mejor-eleccion ul li .fas {
  font-size: 2.3rem;
  background: #d40202;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff; }

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .8rem; }

.tu-mejor-eleccion ul li {
  min-height: 9rem; }



/*----------------------------------------
SECCION PIE DE PAGINA
-----------------------------------------*/
.piedepagina {
  
  color: #fff;  
  font-size: .9rem;  
    display: flex;    
    margin: 0px !important;
    padding: 0px !important;   
    background: #d40202;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;    
    height: 40px; 
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.piedepagina .redes-sociales {
  
  flex: 1 1 0px;    
  list-style: none;

   }

.piedepagina .redes-sociales a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  
}

.piedepagina .redes-sociales a:hover {
  opacity: 1; }

